/* Default variables */
:root {
    --color-transparent: rgba(0, 0, 0, 0);
    --border-button: solid rgb(90, 63, 149) 0.1em;
    --color-button: rgb(90, 63, 149);
    --color-font: rgb(191, 59, 71);
    --radius-button: 3px;
}

/* Fonts */
.big-shoulders {
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* General */
body {
    margin: 0;
    overflow: hidden;
    user-select: none;
}

/* Intro */
#startBody {
    background-color: black;
    font-family: "Big Shoulders";
    color: white;
}

#introTextBox {
    opacity: 0;
    width: 99vw;
    position: absolute;
    top: 30vh;
    text-align: center;
}

#skipBox {
    margin: 0 auto;
    opacity: 0;
    width: 99vw;
    position: absolute;
    bottom: 5vh;
    text-align: center;
}

#skipBox h2 {
    margin: 0 auto;
    width: 12vw;
    display: flex;
    flex-direction: row;
}

#fullscreenButton, #skipIcon {
    background-color: var(--color-transparent);
    color: white;
    border: var(--border-button);

    user-select: none;
    cursor: pointer;
    width: 10vw;
    margin: 0 auto;
    border-radius: var(--radius-button);
    transition: all 0.5s 0s ease-in-out;
}

#skipIcon {
    padding: 0.1em;
    width: 2vw;
}

#fullscreenButton:hover {
    color: white;
    background-color: var(--color-button);
}

/* Startpage */
#distortionOverlay {
    width: 110%;
    opacity: 0.4;
}

/* Animations */
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}