/* Default variables */
:root {
    --color-transparent: rgba(0, 0, 0, 0);
    --border-button: solid rgb(90, 63, 149) 0.1em;
    --color-button: rgb(90, 63, 149);
    --color-font: rgb(191, 59, 71);
    --radius-button: 3px;
}

/* Fonts */
.big-shoulders {
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* General */
body {
    margin: 0;
    overflow: hidden;
    user-select: none;
}

/* Intro */
#clickBox {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20em;
}

#clickText {
    font-weight: lighter;
}
#startBody {
    background-color: black;
    font-family: "Big Shoulders";
    color: white;
}

#introTextBox {
    opacity: 0;
    width: 99vw;
    position: absolute;
    top: 30vh;
    text-align: center;
}

#skipBox {
    margin: 0 auto;
    opacity: 0;
    width: 99vw;
    position: absolute;
    bottom: 5vh;
    text-align: center;
}

#skipBox h2 {
    margin: 0 auto;
    width: 12vw;
    display: flex;
    flex-direction: row;
}

#fullscreenButton, #skipIcon {
    background-color: var(--color-transparent);
    color: white;
    border: var(--border-button);
    user-select: none;
    cursor: pointer;
    width: 10vw;
    margin: 0 auto;
    border-radius: var(--radius-button);
    transition: all 0.5s 0s ease-in-out;
}

#skipIcon {
    padding: 0.1em;
    width: 2vw;
}

#fullscreenButton:hover {
    color: white;
    background-color: var(--color-button);
}

#openingCsBanner {
    position: absolute;
    top: -60em;
    right: 0;
    width: 50vw;
    opacity: 0;
}

/* Startpage */
#distortionOverlay {
    position: absolute;
    width: 110%;
    opacity: 0.4;
    z-index: -1;
}

#title {
    width: 30vw;
    background-color: var(--color-transparent);
    position: absolute;
    right: 10em;
    top: -2em;
    color: var(--color-font);
    z-index: -1;
}

#buttonContainer {
    position: absolute;
    top: 10.4em;
    right: 0.5em;
    padding: 0 1em;
    font-size: 40px;
    z-index: 5;
}

.homeButtons {
    cursor: pointer;
}

#settingsContainer {
    display: none;
    text-align: center;
    width: 30vw;
    position: absolute;
    top: 30vh;
    left: -40vw;
    background-color: rgba(191, 59, 71, 0.5);
    color: white;
    border: 0.2em solid var(--color-font);
}

.settingsRows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sliders {
    background-color: var(--color-button);
}

.arrowStyle {
    color: var(--color-font);
}

#screenSizeSelect {
    cursor: pointer;
}

/*Levels*/
#mapContainer {
    width: 100%;
    height: 100vh;
}

.mouseTrigger {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 35vw;
    height: 100vh;
    z-index: 8;
}

.mapBg {
    z-index: 4;
}

#leftTrigger {
    left: 0;
}

#rightTrigger {
    right: 0;
}

#elevator {
    height: 100%;
    transform: scale(1.3);
    position: absolute;
    right: 0;
}

.controlIcon {
    width: 10em;
    position: absolute;
    bottom: 1em;
    left: 1em;
    z-index: 8;
}

#redAlarm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: -1;
    opacity: 0;
}

#jumpscareBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#jsImg {
    width: 100%;
}

#gameOverScreen {
    width: 100%;
    height: 100%;
}

#gameOverScreen img {
    width: 100%;
}

#gameOverText {
    color: var(--color-font);
    text-align: center;
    position: absolute;
    top: 30vh;
    width: 100%;
    font-size: 100px;
}

#subText {
    color: white;
    font-size: 50px;
    font-weight: lighter;
}

/* Animations */
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes moveDown {
    0% {top: -60em;}
    100% {top: 0em;}
}

@keyframes slideLeft {
    0%{right: 0;}
    100% {right: -5vw;}
}

@keyframes slideFromLeftToCenter {
    0%{right: -5vw;}
    100% {right: 0;}
}

@keyframes slideFromRightToCenter {
    0%{right: 10em;}
    100% {right: 0;}
}

@keyframes slideRight {
    0%{right: 0;}
    100% {right: 10em;}
}